.container {
  width: 100%;
  height: 100%;
}

.scenery {
  width: 100%;
  height: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.palm1 {
  position: absolute;
  top: 2%;
  left: 5%;
}
.palm2 {
  position: absolute;
  top: 30%;
  left: 35%;
  height: 150px;
}
.redqueen_and_alice {
  position: absolute;
  top: 39%;
  left: 35%;
}
#foreground {
  z-index: 1;
}
#foreground {
  transform: translateX(100%);
}

.bush {
  position: absolute;
  top: 65%;
  left: 135%;
}
.rook_upright {
  position: absolute;
  top: 25%;
  left: 75%;
}
.r_knight {
  position: absolute;
  top: 15%;
  left: 125%;
}
